.statement {
  background-image: url("./assets/statement-visual.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
}

.statement {
  margin-top: 5em;
  margin-bottom: 0;
  padding-top: 0;
}

.statement > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.statement .text {
  flex-direction: column;
  text-align: center;
  color: var(--bg-color);
}

.statement .text h2 {
  font-size: 3.75em;
}

.statement .text .inner-text {
  padding: 5em;
  margin-right: 5em;
}
