.flex-grid-fourths {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-grid-fourths .col {
  width: 24%;
}

.img-icon {
  height: 120px;
  width: auto;
}

@media (min-width: 768px) and (max-width: 900px) {
  .flex-grid,
  .flex-grid-fourths {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-grid-fourths .col {
    flex: 0 0 49%;
    max-width: 49%;
    margin: 0 0 20px 0;
    position: relative;
    display: block;
  }
}

@media (max-width: 768px) {
  .flex-grid,
  .flex-grid-fourths {
    display: block;
  }
  .flex-grid-fourths .col {
    width: 100%;
    position: relative;
    margin: 0 0 20px 0;
  }
}
