:root {
  --inactive-color: #8F8F9A;
  --active-color: var(--main-color);
}

body {
  background-color: var(--main-color);
}

#header {
  background-color: var(--bg-color);
}

#inner-header {
    display: flex;
    padding: 0.5em;
}

#inner-header>* {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



#-inner-header > span {
  line-height: 1.6;
  opacity: 1;
  transition: opacity 250ms ease-in-out 1.4s;
}

#inner-header span a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  color: var(--inactive-color);
}

#inner-header span a:hover,
#inner-header span a:visited,
#inner-header span a:focus {
  text-decoration: none;
  color: var(--active-color);
}

#inner-header #yelp-link {
  background-color: var(--text-color);
  width: 2.3em;
  height: 2.3em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
}

#inner-header #yelp-link > a {
    color: var(--bg-color);
    font-size: 1.5em;
}

#inner-header .right-menu-mobile {
  display: none;
}

@media print, screen and (max-width: 40em) {
  #inner-header .right-menu-mobile {
    display: flex;
    justify-content: flex-end;
  }
  #inner-header #logo {
    justify-content: flex-start;
  }

  #inner-header .right-menu,
  #inner-header .left-menu {
    display: none;
  }
}
