:root {
  --inactive-color: #8F8F9A;
  --active-color: var(--main-color);
}

body {
  background-color: var(--main-color);}

.outer-header {
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
  top: 0;
  z-index: 100;
}

.header {
  position: relative;
  z-index: 20;
  margin-right: auto;
  margin-left: auto;
  padding: .625rem 2.625rem;
  padding bottom: 10px;
  text-align: center;
}

.header .columns {
  position: relative;
  float: left;
}

.header ul {
  list-style: none;
  line-height: 1.6;
  display: block;
}

.header ul.menu-secondary {
  top: 15px;
  position: absolute;
  left: 0;
  margin: 0;
  opacity: 1;
  transition: opacity 250ms ease-in-out 1.4s;
}

.header ul li {
    display: inline-block;
    margin-right: 1.875rem;
}

.header ul li > a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
  color: var(--inactive-color);
}

.header ul li > a:hover,
.header ul li > a:focus,
.header ul li > a:active {
  text-decoration: none;
  color: var(--active-color);
  font-weight: 700;
}

.header .logo-panel {
  top: 0;
  display: inline-block;
  width: 7.9375px;
  position: relative;
}

.header .utilities {
  position: absolute;
  top: .9375rem;
  right: 0;
  display: block;
  margin: 0;
}
