@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900|Raleway:400,500,600,700,800|Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --main-color: #F69C6F;
  /* --main-color: #860823; */
  /* --main-color: #9E0626; */
  /* --text-color: #18170B; */
  --text-color: #19120B;
  --bg-color: #F6F6F6;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body .Main {
  width: inherit;
}

p{
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
