.call-to-action .visual {
  background-image: url("./assets/call-to-action-visual.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.call-to-action {
  display: flex;
  height: 50vh;
}

.call-to-action {
  margin-bottom: 0;
}

.call-to-action > * {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.call-to-action .text {
  flex-direction: column;
  text-align: center;
  color: var(--bg-color);
  background-color: var(--main-color);
}

.call-to-action .text h2 {
  font-size: 3.3em;
}

.call-to-action .text .inner-text {
    padding: 0 3.5em;
}

@media print, screen and (max-width: 768px) {
  .call-to-action .visual {
    display: none;
    background-size: contain;
  }

  .call-to-action .text .inner-text {
    padding: 3em 3.5em;
  }

  .call-to-action .text h2 {
    font-size: 2.8em;
  }

  .call-to-action {
    height: 300px;
  }
}
