.filter {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.filter > li {
  width: 24%;
  text-align: center;
  margin: 0 1em 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  border: 2px var(--main-color) solid;
  color: var(--main-color);
  cursor: pointer;
}


.filter > li:focus,
.filter > li:hover,
.filter > li.active{
    color: var(--bg-color);
    background-color: var(--main-color);
    font-weight: 600;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3em;
}

.grid .grid-item {
  -webkit-box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.11);
  box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.11);
}

.grid span {
  display: block;
}

.grid-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2em;
  float: left;
  width: 23%;
  margin-bottom: 1em;
}

.grid-item .service {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1.0em;
}

.grid-item .category {
  font-size: 1em;
  font-weight: 700;
  font-family: 'Playfair Display';
  text-transform: capitalize;
  line-height: 2em;
}

.grid-item .price {
  font-size: 2.5em;
}

@media (min-width:400px) and (max-width: 768px) {
  .grid-item {
    width: 31%;
    padding: 1em;

  }
}

@media (max-width:400px) {
  .grid-item {
    width: 48%;
    padding: 1em;
  }
}
