.filter {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.filter > li {
  width: 24%;
  text-align: center;
  margin: 0 1em 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  border: 2px var(--main-color) solid;
  color: var(--main-color);
  cursor: pointer;
}


.filter > li:focus,
.filter > li:hover,
.filter > li.active{
    color: var(--bg-color);
    background-color: var(--main-color);
    font-weight: 600;
}

.grid {
  display: block;
  text-align: center;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 3em;
}

.example-appear {
  opacity: 0.01;
  width: 80%;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.grid .grid-item {
  -webkit-box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.11);
  box-shadow: 0px 2px 20px 2px rgba(0,0,0,0.11);
}

.grid span {
  display: block;
}

.grid-item {
  text-align: center;
  display: inline-block;
  float: none;
  position: relative;
  padding: 2em 0.5em;
  vertical-align: top;
  margin: 0.5em;
  width: 180px;
  max-width: 180px;
  min-width: 180px;
  height: 180px;
  max-height: 180px;
  min-height: 180px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.grid-item .service {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 1.0em;
}

.grid-item .category {
  font-size: 1em;
  font-weight: 700;
  font-family: 'Playfair Display';
  text-transform: capitalize;
  line-height: 2em;
}

.grid-item .price {
  font-size: 2.5em;
}

@media (min-width:400px) and (max-width: 768px) {
  .grid-item {
  }
}

@media (max-width:400px) {
}
