@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

:root {
  --main-color: #F69C6F;
  --text-color: #18170B;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
